.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0;
}

.wy-nav-side { overflow: inherit; }

/* Code blocks */
pre > code {
    display: block;
    font-size: 12px;
    white-space: inherit;
    max-width: inherit;
    background: transparent;
    border: none;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
}
pre > code.hljs {
    background: transparent;
}
pre {
    border: 1px solid #e1e4e5;
    background: #fff;
    margin: 1px 0 24px 0;
}

/* Section title on the menu */
.wy-menu-vertical span {
    line-height: 18px;
    padding: 0.4045em 0.809em;
    display: block;
    position: relative;
    font-size: 90%;
    color: #838383;
}

/* Pipe tables */
.wy-nav-content table {
    width: 100%;
    overflow: auto;
    display: block;
    margin: 0 0 24px 0;
    font-size: 0.8em;
}

.wy-nav-content thead {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.wy-nav-content table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
    vertical-align: inherit;
}

.wy-nav-content table th {
    border: 1px solid #ddd;
    padding: 8px 13px;
    text-align: center;
}

.wy-nav-content tbody {
    vertical-align: middle;
    border-color: inherit;
}

.wy-nav-content table td {
    border: 1px solid #ddd;
    padding: 8px 13px;
}

/* Lists */
li {
    list-style: disc;
}
ul, ol, dl {
    margin-bottom: 24px;
}

/* Image rendering */
img {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
