{
  "env": {
    "commonjs": {
      "presets": [
        "react",
        "es2015",
        "stage-0"
      ],
      "plugins" : [
        "react-html-attrs",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-assign",
        "webpack-alias"
      ],
      "ignore": [
        "**/*.test.jsx"
      ]
    },
    "dev": {
      "presets": [
        "react",
        "es2015",
        "stage-0"
      ],
      "plugins" : [
        "react-html-attrs",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-assign",
        "webpack-alias"
      ]
    },
    "test": {
      "presets": [
        "react",
        "es2015",
        "stage-0"
      ],
      "plugins" : [
        "istanbul",
        "react-html-attrs",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-assign",
        "webpack-alias"
      ]
    }
  }
}
