{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "prettier",
    "chai-friendly",
    "jsx-a11y"
  ],
  "extends": [
    "airbnb",
    "prettier",
    "plugin:jsx-a11y/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    // turn on prettier errors
    "prettier/prettier": "error",

    // prefer es6 class
    "react/prefer-es6-class": [ "warn", "always" ],

    // allow the use of class and for
    "react/no-unknown-property": [ "error", {"ignore": ["class", "for"]}],

    // allow all prop types except 'any'
    "react/forbid-prop-types": "off",

    // allow dangling underscores
    "no-underscore-dangle": "off",

    // turn off syntax restrictions
    "no-restricted-syntax": "off",

    // allow aliases without issue
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": [
        "error", {}
    ],

    // turn off radix
    "radix": "off",

    // turn off no absolute path
    "import/no-absolute-path": "off",

    // turn off no-undef
    "no-undef": "off",

    // turn off destructuring assignment
    "react/destructuring-assignment": "off",

    // allow omitting arrow parens when there is only one argument
    "arrow-parens": ["error", "as-needed"],

    // turn off object curly newline
    "object-curly-newline": "off",

    // turn off one jsx expression per line
    "react/jsx-one-expression-per-line": "off",

    // make the ruleset chai friendly
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}
