{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        // indentation of 4 spaces
        "indent": [ 2, 4 ],
        "react/jsx-indent": [ 2, 4 ],

        // max line length of 120 chars
        "max-len": [1, 120, 2, {ignoreComments: true}],

        // prefer es6 class
        "react/prefer-es6-class": [ 1, "always" ],

        // allow the use of class and for
        "react/no-unknown-property": [2, {"ignore": ["class", "for"]}],
        "jsx-a11y/label-has-for": 0,

        // allow all prop types except 'any'
        "react/forbid-prop-types": 0,

        // allow static element interactions
        "jsx-a11y/no-static-element-interactions": 0,

        // allow dangling underscores
        "no-underscore-dangle": 0,

        // turn off syntax restrictions
        "no-restricted-syntax": 0,

        // allow aliases without issue
        "import/no-extraneous-dependencies": 0,
        "import/extensions": 0,
        "import/no-unresolved": [
            "error", {}
        ],

        // turn off radix
        "radix": 0,

        // turn off no absolute path
        "import/no-absolute-path": 0,
    }
}
