.highlight-text-html-basic {
    margin-bottom: 16px;
    font-size: 1.1rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2rem;

    pre {
        background-color: #f6f8fa;
        padding: 16px;
        border: 0;
    }
}
