.DayPicker {
    outline: none;
    padding: 16px 0 6px 0 !important;
}

.DayPicker-NavButton {
    height: 1rem !important;
}

.DayPicker-Caption {
    font-size: 11px;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: #366984;
}
