.section-toolbar {
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
    position: relative;
    margin-bottom: 10px;

    .section-toolbar-title {
        font-size: 20px;
        font-style: italic;
        color: #366984;
        display: inline-block;
        vertical-align: bottom;
        padding: 4px 0px 2px 0px;
        line-height: 26px;
    }

    .section-toolbar-group {
        margin-top: 5px;
    }
}

.section-toolbar-greyBar {
    background: #e5e5e5;

    .section-toolbar-title {
        display: inline-block;
        vertical-align: bottom;
        padding: 4px 0px 0px 10px;
        overflow: hidden;
        font-size: 12px;
    }
}

.section .section .section-toolbar .section-toolbar-title {
    font-size: 16px;
    color: #366984;
    line-height: 24px;
}

.section-toolbar-group {
    display: inline-block;
    float: right;
}

.section-toolbar-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-indent: -9999px;
    margin: 4px 10px;
}

.section-toolbar-fullscreen {
    background-image: url($fullscreen_img_asset);
    background-repeat: no-repeat;
    background-position: -16px 0px;
}

.section-isFullscreen {
    height: 100%;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    position: fixed;
    z-index: 1090;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

.section-toolbar-isFullscreen {
    background-position: 0px 0px !important;
}
