/*--Status Messages--*/
div.status_message {
    font-family: 'Open Sans', sans-serif;
    padding: 12px 15px 10px 38px;
    margin-bottom: 28px;
    font-size: 12px;
    position: relative;
    margin-top: 5px;
    border-bottom: 1px solid #c0c0c0 !important;
    @include box-shadow(1px 1px 5px rgba(192, 192, 192, 0.5));
    background: #d2f1ff;
    color: #00529b;
    border: 1px solid #dddddd;

    &:after {
        content: '';
        background: url($status_sprite_colour_img_asset) no-repeat;
        background-position: -20px 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 12px;
        left: 10px;
    }

    p {
        padding: 0px;
        margin: 0;
        line-height: 24px;
    }

    a {
        color: #00529b;
        text-decoration: underline;
    }

    &.warning,
    &.status-amber {
        background: #fdf2c5;
        color: #9f6000;

        &:after {
            background-position: 0px 0px;
        }

        a {
            color: #9f6000;
            text-decoration: underline;
        }
    }

    &.offline,
    &.status-red {
        background: #ffd9d9;
        color: #c30404;

        &:after {
            background-position: -80px 0px;
        }

        a {
            color: #d8000c;
            text-decoration: underline;
        }
    }

    &.ok,
    &.status-green {
        background: #dff2bf;
        color: #4f8a10;

        &:after {
            background-position: -60px 0px;
        }

        a {
            color: #4f8a10;
            text-decoration: underline;
        }
    }
}

/*--Application Error--*/
.applicationError {
    position: absolute !important;
    width: 80%;
    margin: 40px 10% 0px !important;
    box-sizing: border-box;
}
